.container {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
}

.heading,
.loading {
  text-align: center;
  color: #000;
}

.subheading {
  margin-top: 20px;
  color: #555;
}

.form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
}

.button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #444;
}

.error {
  color: red;
}

.list {
  list-style-type: none;
  padding-left: 0;
}

.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.deleteButton {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px;
}

.deleteButton:hover {
  background-color: #ff1a1a;
}
