/* src/components/FeaturesSection/FeaturesSection.module.css */
.section {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: var(--mantine-color-gray-0);
  }
  
  .title {
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    margin-bottom: var(--mantine-spacing-md);
  }
  
  @media (max-width: 755px) {
    .title {
      font-size: 32px;
    }
  }