NEXT_PUBLIC_SUPABASE_URL=https://orzkzemfmtfwtvlylsts.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9yemt6ZW1mbXRmd3R2bHlsc3RzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTkyOTcyMzEsImV4cCI6MjA3NDg3MzIzMX0.U-bj83ak91ZwpHtNHQLGbYolo53BfzsczHhv7PWjDhk
DATABASE_URL=prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqd3RfaWQiOjEsInNlY3VyZV9rZXkiOiJza190Sk1ZMjNoSjRZbEp4S2ZMZnVkUVQiLCJhcGlfa2V5IjoiMDFLNkY3WkNLV0ZUNFZKQ1JKQVlENEo3RlIiLCJ0ZW5hbnRfaWQiOiJhYTVmMzI1NWQxNjkxNmE0NTdiMjFmNTE5MWU0MGQxNWFlZTkxYTU4MmJlYzg2OWJlOWY0NGJhYWE3MTQ1YmM2IiwiaW50ZXJuYWxfc2VjcmV0IjoiYWQyNTVkOTgtNmIyNy00MTY4LTg2NWEtODU1NDYxNzdmMTNlIn0.RjJXfvpIjmef4-NCDYJRQEI3A_AKBoydQlhcJGKdweM
RESET_REDIRECT_URL=https://localhost:3000/auth/password/reset