.root {
  padding-top: 80px;
  padding-bottom: 80px;
}

.label {
  margin-bottom: calc(1.5 * var(--mantine-spacing-xl));
  font-size: 38px;
  font-weight: 900;
  line-height: 1;
  color: black;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 32px;
  }
}

.description {
  max-width: 500px;
  margin: auto;
  margin-top: var(--mantine-spacing-xl);
  margin-bottom: calc(1.5 * var(--mantine-spacing-xl));
}

.title {
  font-family: "Greycliff CF", var(--mantine-font-family);
  font-size: 38px;
  font-weight: 900;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 32px;
  }
}
