.regionCard {
  border: 1px solid var(--mantine-color-gray-2);
  transition: transform 0.2s ease-in-out;
}

.regionCard:hover {
  box-shadow: var(--mantine-shadow-md);
  transform: translateY(-5px);
}

.imageWrapper {
  position: relative;
  height: 200px;
  overflow: hidden;
  border-top-left-radius: var(--mantine-radius-md);
  border-top-right-radius: var(--mantine-radius-md);
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ratingBadge {
  position: absolute;
  top: var(--mantine-spacing-md);
  right: var(--mantine-spacing-md);
  color: var(--mantine-color-white);
  background-color: var(--mantine-color-yellow-filled);
}

.iconPrimary {
  color: var(--mantine-color-blue-6);
}

.iconSecondary {
  color: var(--mantine-color-green-6);
}
