.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  max-width: 40%;
  padding: 2rem;
  background-color: #2a2a2a;
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px rgb(0 0 0 / 30%);
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #fff;
}

.text {
  color: #fff;
  margin-bottom: 1.5rem;
}

.link {
  color: #2563eb;
  text-decoration: underline;
}

.link:hover {
  color: #1e40af;
}
